.me-wrapper {
  h1 {
    @apply tracking-tight text-4xl font-extrabold mb-4 dark:text-red-100 ;
  }

  h2 {
    @apply text-xl font-medium mb-2;
  }

  p {
    @apply mb-4 text-base;
  }

  ul {
    @apply list-disc pl-6 mb-4;
  }

  li {
    @apply text-lg mb-2;
  }
}
